# Игнорировать все .log файлы
*.log

# Игнорировать папку build
/build/

# Игнорировать все временные файлы редакторов
*.swp
*.swo
.DS_Store


# Игнорировать Python кеш
__pycache__/
*.pyc

data
test_results
models
venv
vosk-model-small-ru-0.22
vosk-model-small-en-us-0.15